{% extends 'base.html' %}

{% block contenu %}
{% load static %}
<!-- Permet à JS d'identifier la page -->
<p hidden id="quelPage">graph3</p>

<!-- Titre de la page -->
<h5 style="text-align: center;">Ventes par produits et par pays</h5>


<div class="container-fluid">

    <!-- Titres des graphs -->
    <div class="row">
        <h4 style="text-align: center;" class="col-6"> Top {{ top1 }} produits pour {{ pays1 }}</h4>
        <h4 style="text-align: center;" class="col-6"> Top {{ top2 }} pays pour {{ produits2 }}</h4>
    </div>

    <!-- Graphs -->
    <div class="row">

        <!-- Camembert 1 -->
        <div class="col-2">
            <canvas id="pie-chart"></canvas>
        </div>

        <!-- Histogramme 1 -->
        <div class="col-4">
            <canvas id="bar-chart"></canvas>
        </div>

        <!-- Camembert 2 -->
        <div class="col-2">
            <canvas id="pie-chart2"></canvas>
        </div>

        <!-- Histogramme 2 -->
        <div class="col-4">
            <canvas id="bar-chart2"></canvas>
        </div>

    </div>

    <!-- Forms -->
    <div class="row">

        <!-- Form1 -->
        <div class="col-6">
            <form action method ="POST" id="form1">
                {% csrf_token %}
                <!-- {{form.as_p}} -->

                <!-- Entrée valeur nomgraph (automatique) -->
                <p>
                    <label hidden for="id_nomgraph">Nomgraph:</label>
                    <input hidden type="text" name="nomgraph" maxlength="50" required="" id="id_nomgraph_1" value="graph3ProduitsPays">
                </p>

                <!-- Entrée valeur TOP  -->
                <div class="d-flex justify-content-center">
                    <p>
                        <label for="id_param1">Top  :</label>
                        <input type="number" name="param1" id="id_param1_1">

                    <!-- Entrée valeur Pays -->
                        <label for="id_param2">Pays:</label>
                        <input list="listePays" name="param2" maxlength="50" id="id_param2_1">
                        <datalist id="listePays">
                            {% for elt in listePays %}
                            <option value="{{ elt }}" class="pays">
                            {% endfor %}
                        </datalist>
                        <input type="submit" name="test" value="voir" id="form1submit">
                    </p>
                </div>
            </form>
        </div>
        
        <!-- Form2 -->
        <div class="col-6">
            <form action method ="POST" id="form2">
                {% csrf_token %}
                <!-- {{form.as_p}} -->

                <!-- Entrée valeur nomgraph (automatique) -->
                <p>
                    <label hidden for="id_nomgraph">Nomgraph:</label>
                    <input hidden type="text" name="nomgraph" maxlength="50" required="" id="id_nomgraph_2" value="graph3PaysProduits">
                </p>

                <!-- Entrée valeur TOP  -->
                <div class="d-flex justify-content-center">
                    <p>
                        <label for="id_param1">Top  :</label>
                        <input type="number" name="param1" id="id_param1_2">

                    <!-- Entrée valeur Produit -->
                        <label for="id_param2">Produits:</label>
                        <input list="listeProduits" name="param2" maxlength="50" id="id_param2_2">
                        <datalist id="listeProduits">
                            {% for elt in listeProduits %}
                            <option value="{{ elt }}" class="produits">
                            {% endfor %}
                        </datalist>
                        <input type="submit" name="test" value="voir">
                    </p>
                </div>
            </form>
        </div>
    </div>

</div>



<!-- Chart JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<!-- Datasets -->
<script>
    data1  = {{ data1|safe }};
    labels1 = {{ labels1|safe }};
    data2 = {{ data2|safe }};
    labels2 = {{ labels2|safe }};
</script>

<!-- Graphs -->
<!-- Fichiers contenant les fonctions -->
<script src="{% static 'graphsFunctions.js' %}"></script>
<script src="{% static 'graph3.js' %}"></script>


<!-- Force next columns to break to new line at md breakpoint and up -->
<!-- <div class="w-100 d-none d-md-block"></div> -->
{% endblock %}