{% extends 'base.html' %}

{% block contenu %}
{% load static %}

<h1>Graphiques : Ventes par produits</h1>

<!-- Form TOP X --------------------------------------------------------------------------------------------------------->
<form action method ="POST">
    {% csrf_token %}
    <!-- {{form.as_p}} -->

    <!-- colonne nomgraph dans table paramgraph -->
    <p>
        <label hidden for="id_nomgraph">Nomgraph:</label>
        <input hidden type="text" name="nomgraph" maxlength="50" required="" id="id_nomgraph" value="produits">
    </p>

    <!-- Entrée valeur TOP  -->
    <p>
        <label for="id_param1">Top  :</label>
        <input type="number" name="param1" id="id_param1">
        <input type="submit" name="test" value="voir">
    </p>
</form>

<!-- Graphique --------------------------------------------------------------------------------------------------------->
<div id="container" style="width: 80%;">
    <div class="row">
        <div class="col-md-5">
            <!-- Camembert -->
            <canvas id="pie-chart"></canvas>
        </div>
        <div class="col-md-6">
            <!-- Histogramme -->
            <canvas id="bar-chart"></canvas>
        </div>

    </div>
</div>

<!-- Bouton retour -->
<br>
<a href="http://127.0.0.1:8000/dashboard/">Retour</a> <!--Attention au déploiement, à changer-->

<!-- Chart JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<!-- Datasets -->
<script>
    data0  = {{ data|safe }};
    labels = {{ labels|safe }};
</script>

<!-- Importe les functions pour les graphs -->
<script src="{% static 'graphsFunctions.js' %}"></script>
<!-- Graphs -->
<script src="{% static 'graphBarAndPie.js' %}"></script>

{% endblock %}