{% extends 'base.html' %}

{% block contenu %}
{% load static %}

<h1>Graph 3 v2</h1>

<!-- From1 -->
<form action method ="POST" id="form1">
    {% csrf_token %}
    <!-- {{form.as_p}} -->

    <!-- Entrée valeur nomgraph (automatique) -->
    <p>
        <label hidden for="id_nomgraph">Nomgraph:</label>
        <input hidden type="text" name="nomgraph" maxlength="50" required="" id="id_nomgraph_1" value="graph3ProduitsPays">
    </p>

    <!-- Entrée valeur TOP  -->
    <p>
        <label for="id_param1">Top  :</label>
        <input type="number" name="param1" id="id_param1_1">

    <!-- Entrée valeur Pays -->
        <label for="id_param2">Pays:</label>
        <input list="listePays" name="param2" maxlength="50" id="id_param2_1">
        <datalist id="listePays">
            {% for elt in listePays %}
            <option value="{{ elt }}" class="pays">
            {% endfor %}
        </datalist>
        <input type="submit" name="test" value="voir" id="form1submit">
    </p>
</form>

<!-- Graphiques 1 -->
<div class="container" style="width: 60%;">
    <h3> Top {{ top1 }} produits pour {{ pays1 }}</h3> <!--Titre-->
    <div class="row">
        <div class="col-md-6">
            <!-- Camembert -->
            <canvas id="pie-chart"></canvas>
        </div>
        <div class="col-md-6">
            <!-- Histogramme -->
            <canvas id="bar-chart"></canvas>
        </div>
    </div>
</div>
<!-- From2 -->
<form action method ="POST" id="form2">
    {% csrf_token %}
    <!-- {{form.as_p}} -->

    <!-- Entrée valeur nomgraph (automatique) -->
    <p>
        <label hidden for="id_nomgraph">Nomgraph:</label>
        <input hidden type="text" name="nomgraph" maxlength="50" required="" id="id_nomgraph_2" value="graph3PaysProduits">
    </p>

    <!-- Entrée valeur TOP  -->
    <p>
        <label for="id_param1">Top  :</label>
        <input type="number" name="param1" id="id_param1_2">

    <!-- Entrée valeur Produit -->
        <label for="id_param2">Produits:</label>
        <input list="listeProduits" name="param2" maxlength="50" id="id_param2_2">
        <datalist id="listeProduits">
            {% for elt in listeProduits %}
            <option value="{{ elt }}" class="produits">
            {% endfor %}
        </datalist>
        <input type="submit" name="test" value="voir">
    </p>
</form>
<!-- Graphiques 2 -->
<div class="container" style="width: 60%;">
    <h3> Top {{ top2 }} pays pour {{ produits2 }}</h3> <!--Titre-->
    <div class="row">
        <div class="col-md-6">
            <!-- Camembert -->
            <canvas id="pie-chart2"></canvas>
        </div>
        <div class="col-md-6">
            <!-- Histogramme -->
            <canvas id="bar-chart2"></canvas>
        </div>
    </div>
</div>
<!-- Bouton retour -->
<br>
<a href="http://127.0.0.1:8000/dashboard/">Retour</a> <!--Attention au déploiement, à changer-->

<!-- Chart JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<!-- Datasets -->
<script>
    data1  = {{ data1|safe }};
    labels1 = {{ labels1|safe }};
    data2 = {{ data2|safe }};
    labels2 = {{ labels2|safe }};
</script>

<!-- Graphs -->
<!-- Fichiers contenant les fonctions -->
<script src="{% static 'graphsFunctions.js' %}"></script>
<script src="{% static 'graph3.js' %}"></script>

{% endblock %}