{% extends 'base.html' %}

{% block contenu %}
{% load static %}

<h1>Graphique : Ventes selons produits et pays</h1>

<!-- Affichage graphique -->
<div id="container" style="width: 50%;">
    <canvas id="bar-chart" class="row"></canvas>
</div>

<!-- Chart JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<!-- Datasets -->
<script>
    labels = {{ labels|safe }};
    dicoData = {{ dicoData|safe }};
    listePays = {{ listePays|safe }};
</script>

<!-- Graphique -->
<script src="{% static 'graphBarStacked.js' %}"></script>

<!-- Bouton retour -->
<br>
<a href="http://127.0.0.1:8000/dashboard/">Retour</a> <!--Attention au déploiement, à changer-->
{% endblock %}