{% extends 'base.html' %}

{% block contenu %}

<h5>Visualiser</h5> <!--À centrer-->


<div class="container">
  <div class="row">
    <!-- Carte ventes par pays -->
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ventes par pays</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a href="graphPays" class="btn btn-primary">Voir</a>
        </div>
      </div>
    </div>
    <!-- Carte ventes par produits -->
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ventes pas produits</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a href="graphProduits" class="btn btn-primary">Voir</a>
        </div>
      </div>
    </div>
    <!-- Carte ventes par pays/produits -->
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ventes par produits et pays</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a href="graph3" class="btn btn-primary">Voir</a>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Test/Debug -->
<!-- <a href="graphTCD">Voir graphique des ventes par produits et pays</a>
<br>
<a href="testActuel">Test actuel</a>
<br>
<a href="testValidationImport">testValidationImport</a> -->

<!-- Liens actifs -->
<!-- <a href="graphPays">Voir graphiques des ventes par pays</a>
<br>
<a href="graphProduits">Voir graphiques des ventes par produits</a>
<br>
<a href="graph3">Graph 3 v2</a> -->

{% endblock %} 