{% extends 'base.html' %}

{% block contenu %}
{% load static %}

<!-- cdn JQUERY -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>

<!-- Datasets -->
<script>
    data0  = {{ data|safe }};
    labels = {{ labels|safe }};
    dicoDataModal = {{ dicoDataModal|safe }};
    dicoLabelsModal = {{ dicoLabelsModal|safe }};
</script>

<!-- Permet la verif de la page dans JS -->
<p hidden id="quelPage">graphProduits</p>

<!-- Form TOP X --------------------------------------------------------------------------------------------------------->
<form action method ="POST">
    {% csrf_token %}
    <!-- {{form.as_p}} -->

    <!-- colonne nomgraph dans table paramgraph -->
    <p>
        <label hidden for="id_nomgraph">Nomgraph:</label>
        <input hidden type="text" name="nomgraph" maxlength="50" required="" id="id_nomgraph" value="produits">
    </p>

    <!-- Entrée valeur TOP  -->
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-8"><h5>Graphiques : Ventes par produits</h5></div>
            <div class="col-md-4" style="text-align: right;">
                <!-- Froms suite (entrée top) -->
                <p>
                    <label for="id_param1">Top  :</label>
                    <input type="number" name="param1" id="id_param1">

                    <!-- Bouton -->
                    <input type="submit" name="test" value="voir">
                </p>
                <!-- Fin forms suite -->
            </div>
        </div>
    </div>
</form>

<!-- Graphiques --------------------------------------------------------------------------------------------------------->
<div class="container">
    <div class="row">

        <!-- Camembert -->
        <div class="col-md-4">
            <canvas id="pie-chart"></canvas>
        </div>

        <!-- Histogramme -->
        <div class="col-md-8">
            <canvas id="bar-chart"></canvas>
        </div>

    </div>
</div>

<!-- Modals genérés auto ----------------------------------------------------------------------------------------------->
{% for elt in labels %}
<!-- Boutons ouvrir le modal -->
<button hidden type="button" id='myBtn{{ elt }}' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal{{ elt }}" >Open Modal</button>

<!-- The Modal -->
<div class="modal" id="myModal{{ elt }}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Top 5 pays pour le produit {{ elt }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="container{{ elt }}">
                    <div class="row">

                        <!-- Camembert -->
                        <div class="col-md-4">
                            <canvas id="pie-chartModal{{ elt }}"></canvas>
                        </div>

                        <!-- Histogramme -->
                        <div class="col-md-8">
                            <canvas id="bar-chartModal{{ elt }}"></canvas>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div> -->

        </div>
    </div>
  </div>
{% endfor %}

<!-- Bouton retour -->
<!-- <br>
<a href="/dashboard">Retour</a> -->

<!-- Chart JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<!-- Importe les functions pour les graphs -->
<script src="{% static 'graphsFunctions.js' %}"></script>
<!-- Graphs -->
<script src="{% static 'graphBarAndPie.js' %}"></script>

{% endblock %}